
/maven-jstools-plugin/.project
/maven-jstools-plugin/.classpath
/maven-jstools-plugin/.settings
/maven-jstools-plugin/target

/maven-jstools-example/.project
/maven-jstools-example/.classpath
/maven-jstools-example/.settings
/maven-jstools-example/target
*.swp
*~
